.adds-form {
  padding: 0;
  border: none;
}

.adds-form__legend {
  margin-bottom: 40px;
}

.adds-form__label {
  margin: 0 0 24px;
}

@media (min-width: @tablet-width) {
  .adds-form__legend {
    margin-bottom: 67px;
  }

  .adds-form__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .adds-form__label {
    margin: 0 0 52px;
    padding-left: 11px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 10px;
    }
  }
}
