.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  .oswald-regular (36px, 60px);
  text-align: left;
  color: @black-two;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding: 2px 0 2px 80px;
  margin-bottom: 21px;
}

.advantages__text {
  margin: 0;
}
