.advantages {
  margin: 0 0 44px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 29px;

  .oswald-regular (36px, 60px);
  text-align: left;
  color: @black-two;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding: 2px 0 2px 80px;
  margin-bottom: 22px;
  position: relative;
}

.advantages__item::before {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;

  content: "";
  background-color: @leaf;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantages__text {
  margin: 0;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .advantages__item::before {
    background-size: 52px auto;
  }

  .advantages__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
  }

  .advantages__item--powder::before {
    background-image: url("../img/advantage-powder@2x.png");
  }

  .advantages__item--dining::before {
    background-image: url("../img/advantage-dining@2x.png");
  }

  .advantages__item--clock::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    margin: 0 0 -34px;
  }

  .advantages__title {
    margin-bottom: 72px;
    .oswald-regular (60px, 60px);
  }

  .advantages__list {
    padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: number;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 131px;
    padding-left: 0;
    padding-top: 112px;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
  }

  .advantages__item::after {
    width: 125px;
    height: 270px;
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 115px;

    counter-increment: number;
    content: counter(number);
    .oswald-regular (281px, 281px);
    text-align: left;
    color: @white-three;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 17px;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__item {
    margin-bottom: 50px;
  }
}
