.button {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
  display: block;

  .oswald-regular(14px, 18px);
  color: @white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: @leaf;
}

.button--font-bigger {
  .oswald-regular(16px, 20px);
}

.button--grey {
  color: @greyish-brown;
  background-color: @white-three;
}
