.catalog-adds__title {
  .greenline-heading ();
  margin: 0 0 34px;
  padding-top: 34px;
}

.catalog-adds__promo {
  box-sizing: border-box;
  margin-top: 39px;
  width: 100%;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-adds__order-all {
  padding-top: 188px;
  margin-left: auto;
  margin-right: auto;
  width: 161px;
  .arial (16px, 20px);
  color: @white;
  text-align: center;
}
