.checkbox-form {
  display: block;
}

.checkbox-form__input {
  display: none;

  &:disabled + .checkbox-form__text {
    opacity: 0.3;
  }
}

.checkbox-form__text {
  padding-left: 46px;
  text-transform: uppercase;
  position: relative;

  &::before {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -3px;
    left: 0;

    content: "";
    border: 1px solid @pinkish-grey-two;
  }
}

.checkbox-form__input:checked + .checkbox-form__text::before {
  background: url("../img/icon-tick.svg") center no-repeat;
  background-size: 22px 17px;
}

.checkbox-form__input:hover + .checkbox-form__text::before,
.checkbox-form__input:focus + .checkbox-form__text::before {
  border-color: @pinkish-grey;
}

@media (min-width: @tablet-width) {
  .checkbox-form {
    min-width: 272px;
  }

  .checkbox-form__text::before {
    width: 38px;
    height: 38px;
    top: -5px;
    left: -11px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-form {
    min-width: 233px;
  }
}
