.comment-form {
  padding: 0;
  .oswald-regular (16px, 18px);
  text-align: left;
  text-transform: uppercase;
  color: @black;
  border: none;
}

.comment-form__legend {
  margin-bottom: 35px;
}

.comment-form__input {
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  padding: 13px 16px;
  display: block;
  text-transform: uppercase;
  resize: none;
}
