.contacts-form {
  padding: 0;
  border: none;
}

.contacts-form__legend {
  margin-bottom: 34px;
}

.contacts-form__label {
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .contacts-form__legend {
    margin-bottom: 77px;
  }

  .contacts-form__label {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-form__wrapper {
    display: flex;
  }

  .contacts-form__legend {
    margin-bottom: 75px;
  }

  .contacts-form__label {
    margin-bottom: 0;

    &:first-child {
      margin-right: 78px;
    }
  }
}
