.example {
  background-color: @white-three;
}

.example__title {
  margin: 0 0 22px;
  padding-top: 16px;
  .oswald-regular (36px, 60px);
  text-align: left;
  color: @black-two;
}

.example__text {
  margin: 0 0 25px;
  padding-right: 5px;
}

.example__results {
  margin: 0 0 34px;
}

@media (min-width: @tablet-width) {
  .example {
    border-top: 1px solid @light-grey;
    background: none;
  }

  .example__title {
    margin-bottom: 63px;
    padding-top: 44px;
    padding-right: 10px;
    .oswald-regular (60px, 60px);
  }

  .example__text {
    margin: 0 0 54px;
  }
}
