.form-header__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 16px 0;
  .oswald-regular (36px, 60px);
  text-align: left;
}

.form-header__text {
  margin: 0;
  padding: 0;
  width: 250px;
  .oswald-regular (14px, 18px);
  text-align: left;
  text-transform: uppercase;
  color: @black-two;
}

@media (min-width: @tablet-width) {
  .form-header__title {
    margin-left: -42px;
    margin-bottom: 39px;
    padding-top: 57px;
    .oswald-regular (60px, 60px);
  }

  .form-header__text {
    width: 330px;
    .oswald-regular (20px, 30px);
  }
}

@media (min-width: @desktop-width) {
  .form-header__title {
    margin-left: 0;
    padding-top: 74px;
  }

  .form-header__text {
    width: 370px;
  }
}
