.intro {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  text-align: center;
  color: @white;
  background-color: @green;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @green, @green 305px, @white 305px, @white);
  background-repeat: no-repeat;
  background-position: top;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 25px;
  .oswald-regular (36px, 36px);
  text-align: center;
}

.intro__slogan {
  margin: 0;
  margin-bottom: 28px;
  .oswald-regular (14px, 14px);
  text-transform: uppercase;
  text-align: center;
}

.intro__image {
  text-align: center;
}

.intro__button {
  display: block;
  margin: 0 auto;
  text-align: center;
}
