.page-footer {
  background-color: @white-three;
}

.page-footer__logo {
  border-bottom: 1px solid @grey;
}

.page-footer__logo-link {
  display: block;
  padding: 38px 0 32px 0;
  line-height: 0;
  text-align: center;
}

.page-footer__social {
  border-bottom: 1px solid @grey;
}

.page-footer__company {
  .arial (16px, 16px);
  text-align: left;
  color: @greyish-brown;
}
