.page-header {
  border-bottom: 1px solid @light-grey;
  position: relative;
  z-index: 1;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__logo {
  display: inline-block;
  margin: 0;
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-bottom: -104px;
  }
}
