.page-nav__list {
  margin: 0;
  overflow: visible;
}

@media (min-width: @tablet-width) {
  .page-nav__list {
    margin-top: 37px;
  }
}

@media (min-width: @desktop-width) {
  .page-nav__list {
    margin-top: 63px;
  }
}
