.page-header {
  margin: 0 -20px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid @light-grey;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 15px;
}

.page-header__logo {
  display: inline-block;
  margin: 0;
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .page-header__top {
    padding-left: 0;
    padding-right: 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header--downshift {
    margin-bottom: -129px;
  }

  .page-header__logo {
    margin-top: 43px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
