.product-add {
  border-bottom: 1px solid @pinkish-grey-two;
}

.product-add:first-child {
  border-top: 1px solid @pinkish-grey-two;
}

.product-add__title {
  margin: 0 0 12px;
  padding: 13px 2px 0;

  .oswald-regular (16px, 16px);
  text-align: left;
  text-transform: uppercase;
  color: @black;
}

.product-add__specs {
  margin-bottom: 15px;
  width: 100%;

  border-collapse: collapse;
  .arial (14px, 14px);
}

.product-add__quantity {
  text-align: left;
}

.product-add__price {
  text-align: right;
}

.product-add__button {
  margin-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .product-add {
    padding: 24px 36px 28px 38px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    border: 1px solid @pinkish-grey-two;

    &:not(:first-child) {
      border-top: none;
    }
  }

  .product-add__title {
    margin: 0 auto 26px 0;
    padding: 0;

    .oswald-regular (20px, 20px);
  }

  .product-add__specs {
    width: auto;
    margin: 5px 0 0;

    .arial (16px, 20px);
    text-align: right;
  }

  .product-add__button {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .product-add {
    padding: 16px 0;
    align-items: center;

    border-left: none;
    border-right: none;
  }

  .product-add__title {
    margin: 0 auto 0 0;
  }

  .product-add__specs {
    margin-right: 15px;

    text-align: left;
  }

  .product-add__quantity {
    width: 242px;
  }

  .product-add__price {
    width: 64px;

    text-align: inherit;
  }
}
