.program-form__header {
  margin-bottom: 39px;
}

.program-form__main {
  margin: 0 0 8px;
}

.form-main__label {
  margin-bottom: 15px;
}

.program-form__target {
  margin: 0 0 28px;
}

.program-form__contacts {
  margin: 0 0 14px;
}

.program-form__comment {
  margin: 0 0 28px;
}

.program-form__adds {
  margin: 0 0 14px;
}

.program-form__button {
  margin-bottom: 8px;
}

.program-form__explanation {
  margin-bottom: 31px;
  .arial (14px, 16px);
  text-align: center;
}
