.radio-form {
  display: block;
}

.radio-form__input {
  display: none;
}

.radio-form__text {
  padding-left: 67px;
}

@media (min-width: @tablet-width) {
  .radio-form__text {
    padding-left: 56px;
  }
}
