.radio-form {
  display: block;
  position: relative;
  cursor: pointer;
}

.radio-form__text {
  padding-left: 64px;

  &::before {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -7px;
    left: 19px;

    content: "";
    border: 1px solid @pinkish-grey-two;
    border-radius: 50%;
  }
}

.radio-form__input:checked + .radio-form__text::after {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 28px;

  content: "";
  border-radius: 50%;
  background-color: @leaf;
}

.radio-form__input:hover,
.radio-form__input:focus {
  & + .radio-form__text::before {
    border-color: @pinkish-grey;
  }
}

.radio-form__input:focus + .radio-form__text {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

@media (min-width: @tablet-width) {
  .radio-form__text {
    padding: 5px 5px 10px 60px;

    &::before {
      width: 38px;
      height: 38px;
      top: -8px;
      left: 1px;
    }
  }

  .radio-form__input:checked + .radio-form__text::after {
    width: 18px;
    height: 18px;
    top: 3px;
    left: 12px;
  }
}
