.show-all {
  margin: 0 -20px;
  padding: 0 20px;

  border: none;
}

.show-all__title {
  margin: 0 0 7px;
  padding-top: 79px;
  position: relative;

  .oswald-regular (16px, 20px);
  text-align: center;
  text-transform: uppercase;
  color: @black-two;

  &::before {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 24px;
    left: 123px;

    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
  }
}

.show-all__text {
  margin: 0 0 21px;

  .arial (12px, 16px);
  text-align: center;
  color: @greyish-brown;
}

.show-all__button {
  margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .show-all {
    box-sizing: border-box;
    min-height: 431px;
    width: 324px;
    margin: 0;
    padding: 0 37px 40px 38px;

    border: 1px solid @lighter-grey;
  }

  .show-all__title {
    padding: 162px 40px 17px;
    .oswald-regular (20px, 20px);

    &::before {
      width: 61px;
      height: 61px;
      top: 53px;
      left: 93px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .show-all__text {
    margin: 0 0 84px;
    padding: 0 23px;

    .arial (16px, 20px);
  }

  .show-all__button {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .show-all {
    width: 245px;
  }

  .show-all__title {
    padding: 163px 0 0;
    margin-bottom: 25px;

    &::before {
      top: 54px;
      left: 55px;
    }
  }

  .show-all__text {
    padding: 0;
  }
}
