.social__list {
  width: 100%;
  padding: 22px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  list-style: none;
}

.social__item {
  margin: 0 17px;

  &--marginfix {
    margin: 0 25px;
  }
}

.social__link {
  display: block;
  font-size: 0;
  line-height: 0;
  text-align: center;
  cursor: pointer;

  svg {
    fill: @brownish-grey;
  }

  &:hover svg,
  &:focus svg {
    fill: @leaf;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social__list {
    width: 100%;
    padding: 0;
  }

  .social__item {
    margin: 0 16px;

    &--marginfix {
      margin: 0 0 0 8px;
    }
  }

  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--insta svg {
    width: 23px;
    height: 23px;
  }

  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    padding: 0;
  }

  .social__list {
    padding-left: 26px;
  }

  .social__item {
    margin: 0 14px;

    &--marginfix {
      margin: 0 16px;
    }
  }
}
