.target-form {
  padding: 27px 0 4px 0;
  border: 1px solid @lighter-grey;
  .oswald-regular (16px, 18px);
  text-align: left;
  text-transform: uppercase;
  color: @black;
}

.target-form__label {
  margin-bottom: 24px;
}
