.text-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.text-form__input {
  padding: 12px 15px 10px 19px;
  flex-grow: 1;
}

.text-form__input::placeholder {
  text-transform: uppercase;
}

.text-form__text {
  padding-right: 12px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .text-form__text {
    padding-right: 19px;
  }

  .text-form__input {
    padding: 12px 15px 10px 15px;
  }
}
